Source: ros-kinetic-gauges
Section: misc
Priority: extra
Maintainer: andyz <andyz@utexas.edu>
Build-Depends: debhelper (>= 9.0.0), libqt4-dev, ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/gauges
Standards-Version: 3.9.2

Package: ros-kinetic-gauges
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dev, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: Launch virtual gauges for ROS topics.
