Source: ros-kinetic-rqt-gauges
Section: misc
Priority: extra
Maintainer: AndyZ <andyz@utexas.edu>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-roslint, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-cpp, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/gauges
Standards-Version: 3.9.2

Package: ros-kinetic-rqt-gauges
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-cpp, ros-kinetic-std-msgs
Description: The rqt_gauges package
